body{
    /*background-color: #d0e5f4;*/
}

.extremoCentro {
    margin-top: 15vh;
    background-color: rgba(255, 255, 255, 0.925);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 1%;
}

.inputRed {
    background-color: #f2dede !important;
    border-color: #f2f !important;
}

.inputGreen {
    background-color: lightgreen;
    border-color: green;
}

.cabecera {
    padding-top: 0.5em !important;
}